@{
    Page.Title = "Gizlilik politiamız";
}

<meta><h2>Gizlilik Politikası</h2>

<article>


    <p>
        Otomotivist.com sitesinin tüm hakları <strong>SEDASAN OTOMOTİV SAN.TİC.LTD.ŞTİ.</strong>'ne aittir.
        <br />
        <br />
        Otomotivist.com tüm bireysel ve kurumsal üyelerinin üye bilgilerini, güvenlik ve gizlilik prensipleri doğrultusunda koruyan interaktif bir platform olmayı
        hedeflemektedir.
        <br />
        Otomotivist.com; Üye'nin siteyi aşağıdaki Gizlilik Prensipleri'ne veya yasalara aykırı olarak kullandığını tespit ederse ve/veya yetkili mercilerce bu
        konuda bir tespit veya inceleme talebi gelirse, Üye ile ilgili bilgileri yetkili makamlara bildirmek hakkına sahiptir. Ayrıca benzer bir durumda
        Otomotivist.com Gizlilik Prensipleri'nde öngörülen diğer tedbirleri alma hakkına da sahiptir. Otomotivist.com vermiş olduğunuz bilgilerin güvenliğini
        sağlamaya yönelik olarak gelişen teknolojiye uygun teknik önlemlerle desteklenmektedir.
        <br />
        <br />
        Otomotivist.com, kullanıcıların kendisine <a href="http://www.otomotivist.com/">www.otomotivist.com </a>adlı web sitesi ("Otomotivist.com") üzerinden elektronik
        ortamdan iletilen kişisel bilgilerini üçüncü kişilere açıklamayacaktır.
        <br />
        <br />
        Otomotivist.com, kişisel bilgileri, üçüncü kişilere, bilgilerin toplanması ile ilgili açıklanan amaçlar dışında paylaşmayacak, satmayacak veya
        kullandırmayacaktır.
        <br />
        Sistemle ilgili sorunların tanımlanması ve Web Sitesi'nde çıkabilecek sorunların ivedilikle giderilebilmesi için, Otomotivist.com, gerektiğinde
        kullanıcıların IP adresini tespit etmekte ve bunu kullanmaktadır. IP adresleri, kullanıcıları genel bir şekilde tanımlamak ve kapsamlı demografik bilgi
        toplamak amacıyla da kullanılabilir.
        <br />
        <br />
        Otomotivist.com, Web Sitesi vasıtasıyla Web Sitesi'ne üyelik kazanılması için kullanıcıların kendileriyle ilgili talep edilen bir takım kişisel bilgileri
        (isim-soyisim, telefon, adres, e-posta adresleri gibi) Otomotivist.com veya işbirliği içinde olduğu kişiler tarafından doğrudan pazarlama yapmak amacıyla
        kullanabilir. Kişisel bilgiler, gerektiğinde kullanıcıyla temas kurmak için de kullanılır.
        <br />
        <br />
        Otomotivist.com tarafından talep edilen bilgiler veya kullanıcı tarafından sağlanan bilgiler veya Web Sitesi üzerinden yapılan işlemlerle ilgili bilgiler
        Otomotivist.com ve işbirliği içinde olduğu kişiler tarafından kullanıcının kimliği ifşa edilmeden çeşitli istatistiksel değerlendirmeler, veri tabanı
        oluşturma ve pazar araştırmalarında kullanılabilir.
        <br />
        <br />
        Otomotivist.com, Web Sitesi dahilinde başka sitelere link verebilir. Otomotivist.com, link vasıtasıyla erişilen sitelerin gizlilik uygulamaları ve
        içeriklerine yönelik herhangi bir sorumluluk taşımamaktadır. Otomotivist.com, gizli bilgileri kesinlikle özel ve gizli tutmayı, bunu bir sır saklama yükümü
        olarak addetmeyi ve gizliliğin sağlanması ve sürdürülmesi amacıyla işbu sözleşme ile belirlenen istisnalar dışında gizli bilginin tamamının veya herhangi
        bir kısmının kamu alanına girmesini veya yetkisiz kullanımını veya üçüncü bir kişiye ifşasını önlemek için gerekli tüm tedbirleri almayı ve gerekli özeni
        göstermeyi taahhüt etmektedir.
        <br />
        <br />
        Otomotivist.com, kullanıcılar ve kullanıcıların Web Sitesi'ni kullanımı hakkındaki bilgileri teknik bir iletişim dosyasını (Kurabiye-Cookie) kullanarak
        elde edebilir. Bahsi geçen teknik iletişim dosyaları, ana bellekte saklanmak üzere bir web sitesinin, kullanıcının tarayıcısına (browser) gönderdiği küçük
        metin dosyalarıdır. Teknik iletişim dosyası bir web sitesi hakkında durum ve tercihleri saklayarak internetin kullanımını kolaylaştırır. Teknik iletişim
        dosyası, Web Sitesi'ni kaç kişinin kullandığını, bir kişinin Web Sitesi'ni hangi amaçla, kaç kez ziyaret ettiğini ve ne kadar kaldığı hakkında
        istatistiksel bilgileri elde etmek ve kullanıcılar için özel tasarlanmış kullanıcı sayfalarından dinamik olarak reklam ve içerik üretilmesine yardımcı
        olur. Teknik iletişim dosyası, ana bellekten veya e-postasından veri veya başkaca herhangi bir kişisel bilgi almak için tasarlanmamıştır. Tarayıcıların pek
        çoğu başta teknik iletişim dosyasını kabul eder biçimde tasarlanmıştır, ancak kullanıcılar dilerse teknik iletişim dosyasının gelmemesi veya teknik
        iletişim dosyasının gönderildiğinde ikaz verilmesini sağlayacak biçimde ayarları değiştirebilirler.
        <br />
        <br />
        • Otomotivist.com; Google Analytics aracı ile yeniden pazarlama yapılabilmesi için siteye gelen kullanıcının sitedeki davranışlarını tarayıcıda bulunan bir
        cookie ile ilişkilendirme ve Google Analytics’de, görüntülenen sayfa sayısı, ziyaret süresi ve hedef tamamlama sayısı gibi metrikleri temel alan yeniden
        pazarlama listeleri tanımlama hakkını haizdir.
        <br />
        <br />
        • İşbu kapsamda, ilgi alanlarını saklamak istemeyen Kullanıcılar reklam tercihlerini düzenleyerek iptal edebilirler. Kullanıcılara ait reklam tercihleri
        yalnızca, işbu bilgisayardaki kullanıcı tarayıcısına uygulanacaktır. Kullanıcılar, Tarayıcılarının çerezlerini sildiklerinde sıfırlanacaktır. Reklam
        tercihlerinizi düzenlemek için
        <a href="https://www.google.com/settings/u/0/ads?hl=tr&amp;sig=ACi0TCgifff0HSB4mbwHLT2LSoN0Khq6u5O6lzj7vQGtTcPouGD4egXOvH2MYHaGskdFl-bb2ibPJEE_2C22AIuHUEY4ZlTS9_31mi03_BGT66RccYosa1L7JC5rsbq4ORIG4_rbLrAwaorTCy4sD5lo27bvyCcAch9f0QEhIN57LId4K0mMLko#display_main">
            tıklayın.
        </a>
        <br />
        <br />
        • Google Analytics kapsamı dışında kalmak isteyen Kullanıclar için, tarayıcılarına    <a href="https://tools.google.com/dlpage/gaoptout/?hl=tr">Google Analytics Kapsamı Dışında Kalma Tarayıcı Eklentisi</a>yükleyebilirler.
        <br />
        <br />
        • Google Analytics aracı ile yeniden pazarlama yapılabilmesi için siteye gelen kullanıcının sitedeki davranışları tarayıcıda bulunan bir cookie ile
        ilişkilendirilir. Google Analytics’te tanımlanan yeniden pazarlama listeleri otomatik olarak Google AdWords'e gönderilir. Daha sonra bu kullanıcıya sitede
        ya da Görüntülü Reklam Ağı’ndaki diğer sitelerde, ilgi alanlarına göre hedefe yönelik reklam içeriği gösterilir.
        <br />
        <br />
        • Reklamverenin reklam içeriği, Görüntülü Reklam Ağı’ndaki diğer sitelerde, kullanıcıların ilgi alanlarına göre hedefe yönelik olarak gösterilir
        <br />
        <br />
        • Kullanıcıların web sitesine geçmişte yaptığı ziyaretleri temel alarak reklamlarla ilgili bilgi toplamak reklamları optimize etmek ve yayınlamak üzere
        Google dahil üçüncü taraf sağlayıcılarca birinci taraf çerezler (örneğin, Google Analytics çerezi) ve üçüncü taraf çerezler (örneğin, DoubleClick çerezi),
        Google Analytics tarafında yeniden pazarlama listeleri oluşturulur. Buna göre kullanıcının ziyaret metrikleri ve ilgi alanları dikkate alınarak web
        sitesinde ya da Görüntülü Reklam Ağı’ndaki diğer sitelerde hedefe yönelik reklam içeriği gösterilir.
        <br />
        <br />
        Otomotivist.com, tarafından Web Sitesi dahilinde düzenlenen periyodik anketlere cevap veren kullanıcılardan talep edilen bilgiler, Otomotivist.com ve
        işbirliği içindeki kişiler tarafından bu kullanıcılara doğrudan pazarlama yapmak, istatistiki analiz yapmak ve veri tabanı oluşturmak amacıyla
        kullanılmaktadır.
        <br />
        <br />
        Otomotivist.com , işbu gizlilik politikası hükümlerini dilediği zaman Web Sitesi'de yayınlamak suretiyle değiştirebilir. Otomotivist.com'nun değişiklik
        yaptığı gizlilik politikası hükümleri Web Sitesi'nde yayınlandığı tarihte yürürlülük kazanır.
        <br />
        <br />
        <br />
        <strong>Arkadaşıma Gönder</strong>
        <br />
        Otomotivist.com üyeleri, site üzerinde beğendikleri haber, yazı ya da arama sonuçlarını yakınlarına ya da arkadaşlarına gönderebilmektedir. Bu işlem
        yapılırken üyenin belirttiği alıcı e- posta adresi, sitenin promosyonel aktivitelerini duyurmak dışında başka amaç için kullanılmayacaktır.
        <br />
        <br />
        <strong>Kullanıcı İstekleri / Geri Bildirimler </strong>
        <br />
        Otomotivist.com üye ve ziyaretçilerinin site ile ilgili tarafımıza ulaştırdıkları her türlü istek, öneri, yorum ve soruları içeren bilgiler site
        performansını ölçmek açısından saklanmaktadır. Bu bilgiler kişilerin kendilerine yanıt vermek ve site etkinliğini artırmaya yönelik araştırmalarda
        kullanılmak dışında başka bir amaç için kullanılmayacaktır.
        <br />
        <br />
        <strong>Kullanıcı adı ve Şifre </strong>
        <br />
        Bireysel ve kurumsal üyelerimizin tüm bilgilerinin gizliliğini korumaya yönelik olarak Otomotivist.com üzerinde ilgili bölümlere kullanıcı adı ve şifre ile
        ulaşımınız sağlanmaktadır. Kullanıcı'nın Siteden yararlanma hakkı sadece kendisine aittir, başkalarına devredilemez. Kullanıcı adı ve şifrenizin gizliliği
        sizin sorumluluğunuzdadır, üçüncü kişi ya da kuruluşlara kullandıramazsınız. Kullanıcı adı ve şifrenin izinli veya izinsiz olarak üçüncü kişiler tarafından
        kullanımından doğabilecek durumlardan Otomotivist.com sorumluluk taşımamaktadır, doğabilecek her türlü hukuki ve cezai yükümlülük Üye'ye aittir. Bu maddeye
        aykırı hareket, Üye'ye verilen hizmetlerin herhangi bir bildirimde bulunmaksızın tek taraflı olarak durdurulmasına yol açabilir. Şifrenin izinsiz
        kullanımın tespit edilmesi durumunda Otomotivist.com bilgilendirilmelidir. Otomotivist.com üyesi olarak belirlenen güvenlik - gizlilik prensiplerine
        uymayan ve dikkate almayan bireysel ve kurumsal üyelerden Otomotivist.com güvenlik - gizlilik prensiplerinin aksi yönünde bir durumla karşılaşma halinde
        Otomotivist.com sorumluluk taşımamaktadır. Bu tür olumsuz bir durumla karşılaşıldığı takdirde "Müşteri İlişkileri" birimimiz ile irtibata geçilmesi ayrıca
        önerilmektedir.
    </p>
</article>