@{
    Page.Title = "İletişim";
}


<h1>@ViewBag.Title</h1>
@*<div><iframe width="640" height="440" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/place/Seda+Makina+Otomotiv/@40.9839081,29.1650819,17z/data=!4m7!1m4!3m3!1s0x14cacf60c241887f:0x5de0e8c2a79b9b9b!2zWWVkcGEsIDM0Mzk4IEF0YcWfZWhpci_EsHN0YW5idWwsIFTDvHJraXll!3b1!3m1!1s0x0:0xe56ed6ebf09af885"></iframe><br /><small><a href="https://www.google.com/maps/place/Seda+Makina+Otomotiv/@40.9839081,29.1650819,17z/data=!4m7!1m4!3m3!1s0x14cacf60c241887f:0x5de0e8c2a79b9b9b!2zWWVkcGEsIDM0Mzk4IEF0YcWfZWhpci_EsHN0YW5idWwsIFTDvHJraXll!3b1!3m1!1s0x0:0xe56ed6ebf09af885" style="color:#0000FF;text-align:left">Daha Büyük Görüntüle</a></small></div>*@
    <div class="iletisim">
        <header>
        <h3>Adres</h3>
    </header>
      <p>Sedasan Otomotiv San. Tic. Ltd. Şti.</p>
      <p>Mimar Sinan Mah. Yedpa Ticaret Merkezi
F Caddesi No:100 Ataşehir İstanbul<br>
        Tel.: 0850 885 0 185  &nbsp;&nbsp;&nbsp;&nbsp;Fax.: 0850 885 0 184<br>
        Gsm.: 0530 265 15 80    <br></p>
    </div>