@{
    Page.Title = "Üyelik Sözleşmesi";
}



<h2>Üyelik Sözleşmesi</h2>


<article>
    <p>
        <strong>Taraflar:</strong>
        İşbu sözleşme ve sözleşmeyle atıfta bulunulan ve sözleşmenin ayrılmaz bir parçası olan belgelerden, eklerden ve açıklamalardan oluşan işbu Otomotivist.com
        Üyelik Sözleşmesi (hepsi birlikte sözleşme olarak anılacaktır), Mimar Sinan Cad. Yedpa Tİc. Merk. F Cad. No 100 Ataşehir / İstanbul adresinde mukim Sedasan
        Otomotiv San.Tic.Ltd.Şti. (bundan böyle kısaca "Otomotivist.com" olarak anılacaktır) ile www.Otomotivist.com sitesine üye olurken "Üye"nin elektronik
        olarak onay vermesi ile karşılıklı olarak kabul edilerek yürürlüğe girmiştir.
    </p>
    <p>
        <strong>Kapsam:</strong>
        Bu sözleşme Otomotivist.com'un internet üzerinden firmaların, pazarlamasını yapmak istediği araçların www.Otomotivist.com web sitesinde de yayınlanması ile
        ilgili hizmetleri kapsamaktadır.
    </p>
    <p>
        <strong>Hizmet Koşulları:</strong>
        Otomotivist.com'un sunacağı hizmetler yıllık veya farklı periyotlarda geçerli olacağından, müşterinin talep edeceği her hizmet için farklı bedel ve
        koşullar geçerli olacaktır. Otomotivist.com bu hizmetlerinin bedellerinde ve içeriklerinde değişiklik yapma hakkını saklı tutar. Otomotivist.com dan alınan
        herhangi bir hizmet, 1 yıllık süresini doldurana dek oluşabilecek fiyat ve içerik değişikliklerinden etkilenmez. Tahsil edilen üyelik ücreti hiçbir suretle
        iade veya iptal edilmez.
    </p>
    <p>
        <strong>Üyelik Aktif Durumu:</strong>
        Firmanın üyelik aidatını ödememesi durumunda veya Site Kullanım Kurallarını ihlal etmesi halinde, ilgili müşterinin aldığı tüm hizmetler kullanıma
        kapatılacaktır. Üye panelinin tekrar kullanıma açılması için müşterinin abonelik bedelini ödeyerek üye panelini yeniden aktif hale getirilmesi talep
        edilecektir. (Ödeme yapılmadığından veya süresi dolmuş üyeliklerin hizmete kapatılması nedeniyle doğacak anlaşmazlıklardan Otomotivist.com Sedasan Otomotiv
        San.Tic.Ltd.Şti. sorumlu değildir.)
    </p>
    <p>
        <strong>Otomotivist.com Müşteri Hizmetleri:</strong>
        Otomotivist.com üye firmalara en iyi şekilde hizmet vermekle yükümlüdür. Şifre ve kullanıcı isimlerinin bildirimi veya şifre değişiklikleri yalnızca
        elektronik posta yoluyla iletilir. İrtibat için verilecek telefon veya faks numaraları yalnız acil durumlarda kullanılacak, bu durumlarda üye firmanın
        güvenlik şifresinin onayı sağlanmadıkça talepler işleme alınmayacaktır.
    </p>
    <p>
        <strong>Ödemeler ve Tazminatlar:</strong>
        Üye Firmalar Otomotivist.com'un ilgili hizmetlerine istinaden ileteceği teklifte belirtilen bedeli Kredi Kartı veya Banka Havale/EFT kanalı ile ödemekle
        yükümlüdür. Tarafların site üyeliğinde belirtikleri ve iletişim bilgileri olarak kaydettiği bilgiler tebligat adresleri olup, bu adreslerde yapılacak her
        türlü değişiklik yazılı olarak diğer tarafa bildirilmediği taktirde, bu adreslere yapılacak tebligat kendilerine yapılmış sayılacaktır. İşbu sözleşmenin
        yorumlanmasından ve uygulanmasından doğacak her türlü ihtilafın hal mercii T.C. İstanbul Mahkemeleridir.
    </p>
    <p>
        <strong>Otomotivist.com Fikri Mülkiyet Hakları:</strong>
        Otomotivist.com internet sitesine girilmesi, sitenin ya da sitedeki bilgilerin ve diğer verilerin programların vs. kullanılması sebebiyle doğabilecek
        doğrudan ya da dolaylı hiçbir zarardan Otomotivist.com (Sedasan Otomotiv San. Tic. Ltd.Şti.) sorumlu değildir. Otomotivist.com işbu site ve site
        uzantısında mevcut her tür hizmet, ürün, siteyi kullanma koşulları ile sitede sunulan bilgileri önceden bir ihtara gerek olmaksızın değiştirme, siteyi
        yeniden organize etme, yayını durdurma hakkını saklı tutar. Değişiklikler sitede yayım anında yürürlüğe girer. Sitenin kullanımı ya da siteye giriş ile bu
        değişiklikler de kabul edilmiş sayılır. Bu internet sitesi Otomotivist.com'un kontrolü altında olmayan başka internet sitelerine bağlantı veya referans
        içerebilir. Otomotivist.com, bu sitelerin içerikleri veya içerdikleri diğer bağlantılardan sorumlu değildir. Otomotivist.com bu internet sitesinin genel
        görünüm ve dizaynı ile internet sitesindeki tüm bilgi, resim ve alan adı, logo, ikon, yazılı, elektronik, grafik veya makinede okunabilir şekilde sunulan
        teknik veriler, bilgisayar yazılımları, uygulanan satış sistemi, iş metodu ve iş modeli de dahil tüm materyallerin ve bunlara ilişkin fikri ve sınai
        mülkiyet haklarının sahibi veya lisans sahibidir ve yasal koruma altındadır. İnternet sitesinde bulunan hiçbir materyal; önceden izin alınmadan ve kaynak
        gösterilmeden, kod ve yazılım da dahil olmak üzere, değiştirilemez, kopyalanamaz, çoğaltılamaz, başka bir lisana çevrilemez, yeniden yayımlanamaz, başka
        bir bilgisayara yüklenemez, postalanamaz, iletilemez, sunulamaz ya da dağıtılamaz. Internet sitesinin bütünü veya bir kısmı başka bir internet sitesinde
        izinsiz olarak kullanılamaz. Sitenin genel dizaynı tamamı veya bir kısmı aynı kalmak şartı ile birbaşka site ismi altında yayınlanamaz. Aksine hareketler
        hukuki ve cezai sorumluluğu gerektirir. Otomotivist.com'un burada açıkça belirtilmeyen diğer tüm hakları saklıdır.
    </p>
    <p>
        <strong>Otomotivist.com Satış Kuralları:</strong>
        Otomotivist.com'da 18 yaşından küçük kişiler ödeme yapamaz. Otomotivist.com'a yaptığınız ödemelerinizi yalnızca kredi kartınızla veya EFT/Havale yoluyla
        yapabilirsiniz. Otomotivist.com'un elinde olmayan ve ön görülemeyen sebeplerden (tabii afet, savaş, vs.) dolayı tarafların sorumluluklarını yerine
        getirememeleri durumunda tarafların her birinin tek taraflı fesih hakkı doğacaktır.
    </p>
    <p>
        <strong>Otomotivist.com Güvenlik:</strong>
        Otomotivist.com kredi kartı bilgilerinizi yalnızca abone paketi ,vitrin ya da ürün alımında ödeme işlemi gerçekleştirilirken kullanır ve kesinlikle veri
        tabanında kayıtlı olarak tutmaz. Bilgilerinizin gerçekten Otomotivist.com'a gönderilmesini güvence altına alarak, güvenliğinizi SSL Secure sistemi
        kullanarak sağlamaktayız. Tüm bilgileriniz 256 bit ile şifrelenmekte ve korunmaktadır.
    </p>


</article>