@{
    Page.Title = "Hakkında";
}

<h1 class="accessible">otomotivist.com: online bir oto alım satım ve yedek parça pazarıdır</h1>
<h2 class="accessible">milyonlarca ydek parça ve yeni oto ilanları ile hizmetinizdeyiz</h2>

<article>
<h3><i>Otomotivist;</i></h3>
 
    <p>
        Otomotivist.com, otomobil ve yedek parça grubunda kullanıcıların kesintisiz ve yüksek kaliteli hizmet sunan, güncel ve detaylı
        ilanları ile sektörde önde gelen, milyonlarca ziyaretçi potansiyeli ile en hızlı sonuç veren otomobil ilan sitesi olmayı amaçlamaktadır.
    </p>
    <p>
        2009 yılından bu yana sürekli ilerleme ve gelişme prensibi ile faaliyetlerine devam eden Otomotivist.com araç ilanları yayını konusunda uzmanlaşmış ve en
        kısa sürede araç sattıran site ünvanının hakkını vermek istiyor...
    </p>
    <p>
        Otomotivist.com'un en büyük amacı kullanıcılarının güncel ilanlar arasında arama yaparak ihtiyaç duydukları otomobil ve yedek parçalarına kolayca
        ulaşabilmeleri, araçlarını hızlı ve pratik bir şekilde satabilmeleridir. Otomotivist.com bu amaçtan yola çıkarak sürekli büyüme ve iyileşme yolunda emin
        adımlarla ilerlemektedir.
    </p>
    <p>
        Misyonumuz, sürekli geliştirmekte olduğumuz özelliklerimiz ile bireysel üyelerimize ve kurumsal firmalarımıza pratik, görsel açıdan zengin, teknik açıdan
        yüksek kalitede, müşteri hizmetleri ile tüm ihtiyaçlarınıza cevap verecek donanımda ve kesintisiz hizmet vermektir.
    </p>
    <p>
        7/24 Kesintisiz Hizmeti ve Sorun Çözücü Müşteri Hizmetleri İle Otomotivist.com Hep Yanınızda!
    </p>

   
<h3>Vizyonumuz;</h3>

   <p>Müşterilerimiz, Çalışanlarımız için, sosyal sorumluluk bilinci ile sürekli gelişen kalite yönetimi ve güvenilir hizmet anlayışıyla, kalıcı değerler ve sektöründe referans gösterilecek başarılar elde etmektir.</p>

<h3>Misyonumuz;</h3>
<p>Güvenilir, Şeffaf, Hızlı ve Kaliteli hizmet sunan,
Kurumsallığı ve Profesyonelliği ilke edinen,
İlave iş olanakları ile istihdam oluşturan,
Bulunduğu çevreye ve topluma değer katan bir şirket olmaktır.</p>

    </article>

<aside>
    <h3>Linkler</h3>

    <ul>
        <li>@Html.ActionLink("Anasayfa", "yeniikinciel", "otomobilvasita")</li>
        <li>@Html.ActionLink("Hakkımızda", "otomotivisthakkinda", "otomobilvasita")</li>
        <li>@Html.ActionLink("İletişim", "iletisim", "otomobilvasita")</li>
    </ul>
</aside>