@{
    Page.Title = "Yasal Haklar";
}



<h2>Kullanım Koşulları</h2>

<article>
    <p>
        <strong>Otomotivist.Com Site Kullanım Kuralları</strong>
    </p>
    <p>
        Otomotivist.com'da ilan yayınlarken ya da araç ararken belirteceğimiz bazı kurallara uymanız gerekmektedir.
    </p>
    <p>
        <strong>Bireysel Kullanıcılar:</strong>
    </p>
    <p>
        · - Bireysel üyelerimizin Otomotivist.com'da üyelik oluşturabilmeleri için Kullanıcı Sözleşmesini elektronik ortamda onaylamaları gerekmektedir.
    </p>
    <p>
        · - Bireysel kullanıcılar araçlarını satmak için Otomotivist.com'a ücretsiz olarak ilan verebilirler. İlan yayınlama için Otomotivist.com sizden hiçbir
        ücret talep etmez.
    </p>
    <p>
        · - Bireysel kullanıcı olarak ilanınızı oluştururken aracınızın özelliklerini eksiksiz ve doğru olarak belirtmelisiniz.
    </p>
    <p>
        · - Aracınızın herhangi bir kazası veya parça değişimi varsa bunu ilan detaylarında mutlaka belirtmelisiniz. Bu gibi durumların satın alma işlemi sırasında
        ortaya çıkması sizin güvenirliliğinizi zedeleyecektir.
    </p>
    <p>
        · - Aracınıza eklediğiniz fotoğraflar mutlaka aracınızın orjinal fotoğrafları olmalıdır.
    </p>
    <p>
        · - Bireysel kullanıcıların sitemizde yayınlanmakta olan ilanlara ait içerikleri ve fotoğrafları kopyalaması kesinlikle yasaktır.
    </p>
    <p>
        · - Araç arayan bireysel kullanıcılarımız ilgilendikleri araç ile ilgili olarak araç sahibi ile irtibata geçmek istediklerinde sitemiz üzerinden e-mail
        gönderebilirler. E-mail gönderebilmek için sitemize bireysel üye olarak kaydolmaları gerekmektedir. Araç sahibi ile e-mail yolu ile iletişime geçildiğinde
        yazılan e-mail küfür, hakaret, kişilik haklarını zedeleyici cümleler, reklam amaçlı tanıtım yazılar içermemelidir.
    </p>
    <p>
        <strong>Kurumsal Kullanıcılar:</strong>
    </p>
    <p>
        · - Kurumsal üyelerimizin Otomotivist.com'da üyelik oluşturabilmeleri için Kullanıcı Sözleşmesini elektronik ortamda onaylamaları gerekmektedir.
    </p>
    <p>
        · - Kurumsal kullanıcılar portföylerinde bulunan araçlara ait ilanları yayınlamak için Otomotivist.com'a abonelik bedeli ödemelidirler.
    </p>
    <p>
        · - Kurumsal kullanıcı olarak ilanlarınızı oluştururken aracınızın özelliklerini eksiksiz ve doğru olarak belirtmeniz gerekmektedir.
    </p>
    <p>
        · - Araçlarınızın herhangi bir kazası veya parça değişimi varsa bunu ilan detaylarında mutlaka belirtmelisiniz. Bu gibi durumların satın alma işlemi
        sırasında ortaya çıkması firmanızın güvenirliliğini zedeleyecektir.
    </p>
    <p>
        · - Araçlarınıza eklediğiniz fotoğraflar mutlaka araçların orjinal fotoğrafları olmalıdır.
    </p>
    <p>
        · - Kurumsal kullanıcıların sitemizde yayınlanmakta olan ilanlara ait içerikleri ve fotoğrafları kopyalaması kesinlikle yasaktır.
    </p>
    <p>
        · - Kurumsal üyelerimiz üye panellerinin yönetimini sağladıkları üye giriş bilgilerini kesinlikle 3. şahıslar ile paylaşmamalıdır. Bu durumdan doğacak
        zararlar ile ilgili olarak Otomotivist.com sorumluluk kabul etmemektedir.
    </p>
    <p>
        · - Kurumsal üyelerimiz yönetim panellerinde bulunan B2B pano sayesinde diğer kurumsal firmalar ile iletişime geçmeleri mümkündür. Panoya yazılan mesajlar
        küfür, hakaret, kişilik haklarını zedeleyici cümleler, reklam amaçlı tanıtım yazıları içermemelidir. Pano sadece firmalar arası iletişime geçilmesini
        kolaylaştırmayı amaçlamaktadır.
    </p>
</article>