@{
    Page.Title = "Confirm Order - Sipariş Onay";
}



@(ViewBag.H1 = "Otomotivist.com Sipariş Onay Sayfası")
@TempData["ErrorMessages"]
<div id="confirmedOrderPageMainDiv">
    <span id="confirmedOrderPageMainSpan"></span>
    <div class="confirmedOrderPageTextDiv">Siparişiniz Onaylanmıştır!<br> En kısa sürede sizinle iletişime geçilecektir.</div>
</div>

