@model BusinessObjects.ResetPassword
@{
    ViewBag.Title = "sifre yenileme";
}

<h2>sifre yenileme</h2>

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row top7">
            <div class="col-xs-11 col-lg-6 col-md-6 col-sm-6">
                @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control", @placeholder = "********", @required = "", @title = "Lütfen þifrenizi girin." })
            </div>
        </div>
        <div class="row top7">
            <div class="col-xs-11 col-lg-6 col-md-6 col-sm-6">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password", @class = "form-control", @placeholder = "********", @required = "", @title = "Hatalý þifre giriþini engellemek için þifrenizi tekrar girin." })
            </div>
        </div>
        <div class="row top7">
            <div class="col-xs-11 col-lg-6 col-md-6 col-sm-6">
                <a class="accessible" href="~/Account/ResetPassword">[Reset]</a>
                <input type="submit" value="Þifremi Deðiþtir" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
}



