<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/OtomotivistModel.csdl|res://*/OtomotivistModel.ssdl|res://*/OtomotivistModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=otomotivist.com;persist security info=True;user id=sa;password=sa1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>